/* Write your CSS here */
.listItem {
  margin-right: 10px;
  color: hsl(211, 10%, 53%);
  font-size: 15px;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.selectedListItem {
  margin-right: 10px;
  color: #7b8794;
  font-size: 15px;
  font-weight: bold;
  color: #2563eb;
  text-decoration-line: underline;
  border: none;
  background-color: transparent;
}
